.myInfoModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-start;
  z-index: 500;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}

.show {
  opacity: 1;
  visibility: visible;
}

.modalContent {
  position: relative;
  width: 65%;
  height: 100%;
  background-color: var(--main-color1);
  border-radius: 0 1rem 1rem 0;
  padding: 3rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateX(-100%);
  transition: transform 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.show .modalContent {
  transform: translateX(0);
}

.closeButton {
  position: absolute;
  top: 0.8rem;
  right: 1.6rem;
  border: none;
  font-size: 2.4rem;
  cursor: pointer;
  background: none;
  color: inherit;
}

.modalHeader {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-align: center;
}

.modalBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}

.modalBody p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.logoutButton {
  background-color: var(--main-green);
  color: white;
  padding: 12px 0;
  border-radius: 12px;
  box-shadow: 0 2px 3px var(--main-color3);
  font-size: 1rem;
  width: 80%;
  text-align: center;
  align-items: center;
  transition: all 0.3s ease;
  cursor: pointer;
  border: none;
}

.logoutButton:hover {
  background-color: var(--main-green-bright);
  box-shadow: 0 2px 5px var(--main-color4);
}

.logoutButton:focus {
  background-color: var(--main-green-bright-more);
  box-shadow: 0 2px 3px var(--main-color4);
}

.modalFooter {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  font-size: 0.9rem;
  color: #555;
  word-wrap: break-word;
  white-space: pre-wrap;
  text-align: center;
}

.profileImageContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.profileImage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #007bff;
}

@media (max-width: 768px) {
  .modalFooter {
    font-size: 0.8rem;
  }
}