.AdminBusStationCreatePage {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.busStationTitleInputBox {
    margin-top: 20px;
}

/* .busStationPostButton {
    text-align: center;
    width: calc(100% - 60%);
    background-color: aqua;
    border-radius: 16px;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    background-color: var(--main-green);
    color: white;
    border: none;
    cursor: pointer;
} */

/* 저장 버튼 */
.busStationPostButton {
    background-color: var(--main-green); /* 녹색 */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    flex: 1;
    margin-right: 10px;
}

/* 저장 버튼 hover 효과 */
.busStationPostButton:hover {
    background-color: var(--main-green-bright);
}

.busStationPostButton:active {
    background-color: var(--main-green-bright-more);
}

/* 취소 버튼 */
.cancelButton {
    background-color: var(--main-red); /* 빨간색 */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    flex: 1;
}

/* 취소 버튼 hover 효과 */
.cancelButton:hover {
    background-color: var(--main-red-bright);
}

.map {
    width: 100vw;
    height: 60vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: #f0f4f8;
    min-height: 100vh;
}

.input {
    padding: 1rem;
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    width: 80vw;
}

.list {
    list-style-type: none;
    padding: 0;
    margin-top: 1rem;
}

.listItem {
    padding: 1rem;
    background-color: #fff;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80vw;
}