server {
    listen 443 ssl;
    listen [::]:443 ssl;
    http2 on;

    server_name devse.gonetis.com;

    ssl_certificate /etc/nginx/ssl/live/devse.gonetis.com/fullchain.pem;
    ssl_certificate_key /etc/nginx/ssl/live/devse.gonetis.com/privkey.pem;

    root /usr/share/nginx/html;
    index index.html index.htm;

    location / {
        try_files $uri $uri/ /index.html;
    }
}