.enterCodePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.enterCodePage .bus-icon {
  width: 100px;
  height: auto;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.inputContainer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.enterCodePage input[type="text"] {
  display: flex;
  border: 1px solid #ddd;
  box-shadow: 0 2px 3px #ddd;
  padding: 14px 16px;
  border-radius: 12px;
  font-size: 16px;
  transition: all 0.3s ease;
  outline: none;
  background-color: #fbfbfb;
}

.enterCodePage input[type="text"]:focus {
  border: 1px solid var(--main-color5);
  box-shadow: 0 3px 5px #ccc;
  background-color: #fff;
}

.enterCodePage input[type="text"]::placeholder {
  color: #bbb;
  font-size: 14px;
  transition: color 0.3s ease;
}

.enterCodePage input[type="text"]::placeholder:focus {
  color: #ccc;
}

.enterCodePage .inputContainer .button {
  background-color: #80cbc4;
  box-shadow: 0 2px 3px #ddd;
  border: none;
  padding: 12px 24px;
  margin-top: 12px;
  border-radius: 12px;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    transform 0.2s ease;
}

.enterCodePage .inputContainer .button:hover {
  background-color: #6fb9b2;
  box-shadow: 0 3px 5px #ccc;
  transform: translateY(-1px);
}

.enterCodePage .inputContainer .button:active {
  background-color: #80cbc4;
  box-shadow: 0 2px 3px #ddd;
  transform: translateY(0);
}

.enterCodePage .error-message {
  color: red;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 600;
  height: 20px;
}
