/* FullScreenSearchModal.module.css */

.modalOverlay {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--main-white-bright-more);
  z-index: 400;
}

.modalContent {
  display: flex;
  flex-direction: column;
}

.resultContainer {
  width: 100%;
  height: 80vh;
}

.closeButton {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90vw;
  /* 검색창과 동일한 너비 */
  padding: 12px;
  background-color: var(--main-gray);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  text-align: center;
}

.closeButton:hover {
  background-color: var(--main-gray-bright);
}

.closeButton:focus {
  background-color: var(--main-gray-bright-more);
}

.loadingMessage,
.errorMessage,
.noResults {
  text-align: left;
  margin: 1em 0;
  padding: 1em;
  background-color: var(--main-white-bright-more);
  border: 1px ;
  border-radius: 8px;
}

.errorMessage {
  color: var(--main-red-dark);
  background-color: var(--main-red-bright-more);
}

.searchResults {
  max-height: 300px;
  overflow-y: auto;
  background-color: var(--main-white-bright);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.searchResultItem {
  padding: 10px 15px;
  border-bottom: 1px solid var(--main-white-bright-more);
  cursor: pointer;
  transition: background-color 0.2s;
}

.searchResultItem:last-child {
  border-bottom: none;
}

.searchResultItem:hover {
  background-color: var(--main-white-bright);
}

.searchResultItem:focus {
  background-color: var(--main-white-bright-more);
}