.AdminBusEditPage {
    padding: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

h2 {
    font-size: 2rem;
    margin-bottom: 2vh;
}

.busNumberInput, .totalSeatsInput {
    font-size: 1.5rem;
    padding: 1rem;
    margin-bottom: 2vh;
    width: 80vw;
    max-width: 600px;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
}

.stationList {
    width: 80vw;
    max-width: 600px;
    height: 40vh;
    overflow-y: auto;
    margin-bottom: 2vh;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 1.3rem;
}

.stationItem {
    padding: 1rem;
    border-bottom: 1px solid #eee;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin-bottom: 1vh;
    cursor: grab;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
}

.addStationButton {
    font-size: 4rem;
    /* padding: 1rem; */
    /* background-color: #007bff; */
    background-color: var(--main-green-dark);
    border: none;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    color: white;
    cursor: pointer;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    max-width: 600px;
    margin-top: 2vh;
}

.saveButton, .cancelButton {
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    cursor: pointer;
    width: 48%;
}

.saveButton {
    background-color: var(--main-green);
    color: white;
}

.saveButton:hover {
    background-color: var(--main-green-bright);
}

.saveButton:active {
    background-color: var(--main-green-bright-more);
}

.cancelButton {
    background-color: var(--main-red);
    color: white;
}

.cancelButton:hover {
    background-color: var(--main-red-bright);
}

.cancelButton:active {
    background-color: var(--main-red-bright-more);
}

/* 모달 스타일 */
.modalOverlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    max-width: 600px;
    width: 80vw;
}

.modalSearchInput {
    width: 100%;
    padding: 1rem;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
}

.modalStationList {
    max-height: 40vh;
    overflow-y: auto;
    list-style: none;
    padding: 0;
}

.modalStationList li {
    padding: 1rem;
    background-color: #f9f9f9;
    margin-bottom: 1vh;
    border-radius: 0.5rem;
    font-size: 1.3rem;
    cursor: pointer;
}

.closeModalButton {
    margin-top: 1rem;
    padding: 1rem;
    font-size: 1.3rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0.5rem;
    width: 100%;
    cursor: pointer;
    text-align: center;
}

.editButton {
    position: absolute;
    right: 6rem; /* 삭제 버튼 왼쪽에 고정된 위치 지정 */
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    background-color: #6c757d; /* 수정 버튼의 배경색을 회색으로 변경 */
    color: white;
}

.deleteButton {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    background-color: #dc3545;
    color: white;
    position: absolute;
    right: 1rem; /* 삭제 버튼을 정렬하기 위해 위치 지정 */
} 

.stationItemName {
    margin-right: 7rem; /* 이름과 버튼 간격 확보를 위해 여백 추가 */
} 
