.body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    padding: 8px;
    background-color: rgb(255, 255, 255);
    border: 1px solid lightgray;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.textInputArea {
    border: none;
    padding: 4px;
    width: 80%;
}

.searchBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 4px;
    width: 4em;
    height: 2em;
    background-color: #124248;
    color: whitesmoke;
    border-radius: 8px;
}
.searchBtn:hover {
    background-color: #1d656f;
}
