.body {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    z-index: 999;
    gap: 0.5em;
    z-index: 999;
}

.textInputArea {
    width: 85%;
    height: 3.5em;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border: 1px solid lightgray;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}

.searchBtn {
    width: 15%;
    height: 3.5em;
    padding: 10px;
    background-color: #124248;
    color: whitesmoke;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}
.searchBtn:hover {
    background-color: #1d656f;
}
