.LoginPage {
  /* display: flex; */
  /* justify-content: center; */
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bus-icon {
  width: 100px;
  height: 100px;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.loginButtons {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.loginButtons > button {
  display: flex;
  align-items: center;
  border: solid 1px #ddd;
  padding: 12px 14px;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0 2px 3px #ddd;
  transition: all 0.3s ease;
}

.loginButtons > button:hover {
  background-color: #fdfdfd;
  box-shadow: 0 2px 5px #ccc;
}

.loginButtons > button:focus {
  background-color: #fff;
  box-shadow: 0 2px 3px #ddd;
}

.logo {
  width: 20px;
  height: 20px;
  margin-right: 12px;
}

.loginButtons > * {
  margin: 4px;
}
