.bus-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17rem;
    height: 17rem;
    font-size: 3rem;
    animation: busMove 1.2s linear infinite;
    overflow-x: hidden;
}

@keyframes busMove {
    0% { transform: translateX(-30%); }
    100% { transform: translateX(700%); }
}