.loadingPage .bus-icon {
    display: flex;
    justify-content: center;
    font-size: 3rem;
}

.loadingPage .logo .bus-icon {
    width: 20rem;
    height: 20rem;
    animation: busMove 0.3s linear infinite;
}

@keyframes busMove {
    0% { transform: translateX(-30%); }
    100% { transform: translateX(150%); }
}