.Footer {
  position: fixed;
  background-color: whitesmoke;
  bottom: 0;
  width: 100vw;
  height: 6vh;
  display: flex;
  justify-content: space-between;
  z-index: 999;
  padding: 3em;
}

.Footer > button {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  justify-content: center;
}

.Footer button > img {
  width: 2.5rem;
  height: auto;
  filter: drop-shadow(1px 1px 1px #525252);
}

.Footer button > p {
  flex: 1;
  font-size: 1.4rem;
  font-weight: 800;
  width: 100%;
  margin-top: 1rem;
}
