.Footer {
  position: fixed;
  bottom: 10px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Footer > button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 6rem;
  height: 7rem;
}

.Footer button > img {
  width: 100%;
  height: 80%;
  filter: drop-shadow(1px 1px 2px #000);
}

.Footer button > p {
  flex: 1;
  font-size: 1.4rem;
  font-weight: 600;
  width: 100%;
}
