.AdminPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.AdminPage .busStopButton, .busButton {
    background-color: #d0c9df;
    border-radius: 20px;
    width: 100px;
    height: 100px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

