*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-color1: #cde8e5;
  --main-color2: #eef7ff;
  --main-color3: #7ab2b2;
  --main-color4: #4d869c;
  --main-color5: #8cc2bf;
}

button {
  background: none;
  color: inherit;
  border: none;
  cursor: pointer;
  outline: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

input:focus {
  outline: none;
}

html {
  font-size: 62.5%; /* 1rem을 10px로 변환 (원래는 16px) */
}

body {
  font-family: "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
  min-width: 320px;
  min-height: 600px;
  background: var(--main-color2);
  /* width: 430px;
  height: 932px; */
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
