.body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  align-items: center;
}

.searchBar {
  position: fixed;
  z-index: 200;
}

.mapView {
  z-index: 0;
}

.footer {
  position: fixed;
  bottom: 0;
}

@media screen and (min-width: 768px) {
  .container {
    width: 750px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 970px;
  }
}