.body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    align-items: center;
}

.searchBar {
    top: 5em;
    position: fixed;
    z-index: 999;
}

.mapView {

}

.stationList {
    z-index: 998;
}

.footer {
    position: fixed;
    bottom: 0;
    z-index: 999;
}